@{
    ViewData["Title"] = "Home Page";
}
<head>
  <script src="~/js/welcome.js"></script>
  <link rel="stylesheet" href="css/welcome.css">
</head>
<body>
<div class="content">
  <div class="welcomeText">
    <div class="welcome">
      <h1 class="greet">WELCOME</h1>
    </div>
    <div class="subText">
      <div class="subTexts">
      </div>
    </div>
  </div>
</div>
</body>